VITE_API_URL=http://localhost:4000
VITE_SOCKET_URL=http://localhost:4000
VITE_LOGIN_ENDPOINT=/auth/login
VITE_REFRESH_ENDPOINT=/auth/refresh
VITE_ME_ENDPOINT=/auth/me
VITE_REQUESTS_ENDPOINT=/requests
VITE_NOTIFICATIONS_ENDPOINT=/notifications
